body {
  background-color: cadetblue;
}

p {
  display: inline;
  text-align: center;
  position: relative;
  right: 30px;
}

.names {
  position: relative;
  right: 150px;
}

main {
  display: flex;
}

div img {
  margin: 25px;
  border-style: solid;
}

section {
}

#leftSection {
  width: 1000px;
}

#listofresults {
  list-style-type: none;
  font-size: larger;
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  text-align: center;
  margin: auto;
}

button {
  background-color: white;
  width: 20%;
  color: black;
  margin: auto;
  height: 2em;
}
a {
  margin: auto;
}
